a {
    font-weight: bold;
    width: 100px;
    line-height: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 6px; /*모서리 둥글게*/
    display: block;
    text-align: center;
}
a:hover {
    background: orange;
}
h2{
    padding-bottom: 100px;
}

b{

}
em {
    font-style: normal;
    font-weight: bold;
    color: brown;
}
kbd {
    padding: 0 3px;
    border-radius: 3px;
    border-top:  2px solid rebeccapurple;
    border-width:  2px solid ;
    border-bottom:  4px solid rebeccapurple;
}
span {
    font-weight: bold;
    font-size: 20px;
}