/* 
폰트요소
font-style : 글자 기울기 지정
font-weight : 글자 두께지정
font-size : 글자 크기지정
line-hight : 줄높이 지정 (행간이라고 생각해도 ㄱㅊ)
font-family : 글꼴지정 

입력은 
font: 기울기 두께 "크기" / 줄높이 "글꼴";
형식으로 입력한다.
/를 쓰는 이유는 글자의 크기와 줄의 높이를 순서로써 구분하기위함
또한 "크기"와 "글꼴"은 필수적으로 설정해야한다

weight의 노말수치는 400/bold는 700등 수치가 있고 
100~900사이에서 100단위인 9단계로 입력할 수 있다.

bolder, lighter는 부모와 비교했을때 두껍고 가늘다는이야기지,
bold(700)보다 두껍다 이런말이 아님

상속값은 표확인

크기는 대체로 명확한 수치를 적용할 수있는 단위숫자(px,em,cm)를 사용하자!

line-hight에 그냥숫자를 입력하면 요소의글꼴 크기배수로 인식하며(2->폰트사이즈의 2배), 
단위숫자를 쓰면 그 크기만큼 지정
배수기준 1.4~1,7이 일반적으로 좋다

font-family는 기본적으로 글꼴 후보목록을 지정하고, 이것외에 사용시에는 각각 범위를 지정해주어야함
font-family: [후보1, 후보2,....], 글꼴계열;
예시) font-family: Arial, "Open Sans", "돋움", dotum, sans-serif;
위의 폼으로 입력함

후보를 지정하는이유는 폰트라는파일자체는 전송하기에 매우 큰 용량이기에, 브라우져에 자체적으로 가지고있는 폰트파일중에
앞부터 후보가 있는것을 사용하게 지정해주고, 그게없으면 맨뒤에 계열을 입력해서 그러한 유사계열을 사용해서 읽으라고 지정.

*웹폰트라는것도있음. 웹에서 가볍게 사용할 수있게끔 해놓은 가벼운 폰트파일

color는 폰트의 색을 지정하는데, 이는 웹브라우져마다 색구현해놓은게 미묘하게 다를 수 있기때문에 색상이름을 사용하는것은 지양.
대신 hex색상코드(#000000)꼴로 16진수 색을 지정하거나 RGB(A-투명도)등의 명확한 값을 지정하는것이 좋음

text-align (택스트 정렬)
left,right,center,justify(순수한길이로 두줄이상일시 적용) = 왼쪽,오른쪽,가운데, 양쪽정렬

text-decoration 꾸밈
underline(아랫줄), overline(윗줄), line-through(나무위키 지움선)

text-indent 첫째줄의 들여쓰기를 지정. 음수도 지정할 수 있으며 이때 내어쓰기(튀어나온모양)가 된다

letter-spacing: 자간 설정 (음수값 사용가능)
word-spacing: 띄어쓰기 너비설정 (음수값 사용가능) 띄어쓰기가 가지고있는 너비에 더해줄 숫자를 지정한다는 개념
위 둘다 px, em, cm단위 사용한다


*/

p {
    font-size: 30px;
    font-family: cursive;
}

.rud {
    background: url("https://heropy.blog/css/images/vendor_icons/aws.png");
    text-indent: -9999px;       /*이미지위에올라온 RUD라는 글자를 페이지밖으로 밀어버려서 안보이게만들었다.*/
}