html {
    font-size: 10px;
}
body * {
    border: 2px solid;
    font-size: 16px;
}
.container {
    width: 60em;
    font-size: 10px;
}
.parent {
    width: 300px;
    font-size: 2em;
}
.child {
    width: 20rem;
    font-size: 2em;
}

.container1 {
    width:50vw;         /*현재 웹페이지 가로의 절반.*/
    height: 200px;
    background: red;
}

.container2 {
    background: hotpink;
    width: 50vmax;
    height: 300px;

}
/* 
1. %는 부모요소에 영향을받음
2. em단위는 현재자기 자신이 가지고있는 폰트크기에 영향을 받는다
폰트사이즈는 상속받는 요소이기때문에, 부모 폰트사이즈는 컨테이너의,
자식의 폰트사이즈는 부모의의 폰트사이즈의 2배(컨테이너의4배)가 된다
3. rem단위는 현재 html에 지정되어있는 폰트사이즈의 영향을 받는다
4. vw(viewport width), vh(viewport height)
뷰포트는 현재 우리가 보고있는 웹페이지의 크기의 % 의미
70vw는 현재웹페이지의 70퍼센트의 폭을 사용한다는 의미
즉 0~100사이에서 논다
5. vmin, vmax
마찬가지로 뷰포트 최대, 최소를 의미
vmin은 가로세로중 더 짧은길이를 백분위 기준으로 나눈값을 사용하고
vmax는 가로세로중 더 긴길이를 백분위로 나눈값을 사용
 */
